.projects-container {
    width: 100%;
}
a{
      color: #fff;
      text-decoration: none;
    }
  
  
.projects-content {
    
    
    box-sizing: border-box;
    
    width: 100%;
    margin: auto;
}
  
  .header {
    
    text-align: center; 
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 30px;
  
}
    button {
      background-color: transparent;
        
        text-align: center;
        border:none;
        cursor: pointer;
        outline: none;
        font-size: 20px;
        
        margin-left: 0px;
        color: #474747;  
}
  
 .active-btn {
      background-color: transparent;
        
        text-align: center;
        border:none;
        cursor: pointer;
        outline: none;
        
        
        margin-left: 0px;
        color: #ff4d5a; 
    }

  
  .card-cover {
      
       
       text-align: center;
       margin-bottom: 20px;
      box-shadow: 0 0 10px 2px #606060;
      background-color: #fff;
  }   
  .card-cover>img {
     width: 100%;
      height: auto;
          
    }
    .B{
        display: none;
      }

  
.card-cover:hover .A{
          display: none;
         }
 .card-cover:hover .B{
          display: block;
         }
    
  

  
  .active-btn {
    background: royalblue;
    transition: all 0.2s;
  }
  
  
  
  @media (max-width: 1069px) {
    .projects-content {
      padding-top: 90px;
    }
  }
  
  @media (max-width: 460px) {
    .projects-content {
      width: 100%;
      padding-right:0;
      padding-left:0;
  
}
}
